@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(89deg, #ffffff 0%, #0011ff 0%, #0011ff 66%, #000 101%);
    ;
}

p {
    color: aquamarine; 
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(222, 233, 233);
}

.navbar-brand img {
    width: 35px;
}

.navbar-toggler {
    background-color: azure;
}

.sidebar {
    color: aliceblue;
    background: linear-gradient(270deg, #ffffff 0%, #0011ff 0%, #0011ff 66%, #000 101%);
}

.card {
    background: linear-gradient(270deg, #ffffff 0%, #0011ff 0%, #0011ff 66%, #000 101%);
    color: aquamarine; 
}
.card a {
    text-decoration: none; 
    color: aquamarine; 
}

.slide-text {
    color: aquamarine;
    margin: auto auto;
} 


@media (max-width: 755px) {
    .carousel-indicators {
        display: none; 
    }                    
}  

.slide-text,  
.footer-text {
    color: aquamarine;
    margin: auto auto;
} 

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #ffffff 0%, #0011ff 0%, #0011ff 66%, #000 101%);
}

.call-anim {  
    animation: myAnim 2s ease 0s 100 normal forwards;
}
@keyframes myAnim { 
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}


.media-links {
    display: flex;
    justify-content: center;
    align-items: center; 
}